{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart Complaint System | {% block title %}Home{% endblock %}</title>

    <!-- Favicon using PNG image -->
    <link rel="icon" href="{% static 'image/logoimg11.png' %}" type="image/png">
    <link rel="shortcut icon" href="{% static 'image/logoimg11.png' %}" type="image/png">

    <!-- CSS Files -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
    <nav class="navbar navbar-expand-lg custom-navbar shadow">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="{% url 'index' %}">
                <img src="{% static 'image/logoimg11.png' %}" alt="Logo" width="55" height="55"
                    class="me-2 rounded-circle">
                Smart Complaint
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'features' %}">Features</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'review' %}">Review</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar ke niche line -->
    <div class="bg-dark" style="height: 4px;"></div>

    {% block content %}
    {% endblock %}